<!-- - - - - - Header - - - - - - - -->
  <header class="grid second-header">
  <a href="/index.html" class="second-nav-logo"><img src="images/ARS_Logo_Plain_Black.png" class="padding-2"></a>
    <nav class="col-12-middle center mobile-hide">
      <a href="#"> About </a>
      <a href="/mywork.html"> Work </a>
      <a href="#"> Contact </a>
    </nav>
<!-- -Hamburger Menu by Deswin aka Dan- -->
    <div class="hamburger-background mobile-show bottom-edge-shadow">
    </div>
    <nav class="mobile-show">
      <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
      <div class="burger-menu">
        <a href="#"> About </a>
        <a href="#"> Work </a>
        <a href="#"> Contact </a>
      </div>
    </nav>
<!-- - - - - End Hamburger menu- - - - -->
  </header>
<!-- - - - - Close Header - - - - - -->
<!-- - - - - Begin Page Title- - - - -->
  <section class="bg-image page-title" style="background-image: url(images/{{page.page-title-image}})">
    <div class="page-title-text">
      <h1 class="{{page.light-or-dark}}-bg" style=""> {{page.page-title}} </h1>
    </div>
  </section>
<!-- - - - - - End Page Title- - - - -->
